@font-face {
  font-family: "HellixRegular";
  src: url("../fonts/Hellix-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "HellixMedium";
  src: url("../fonts/Hellix-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "HellixBold";
  src: url("../fonts/Hellix-Bold.ttf") format("truetype");
}
