/* import custom font and color */
@import "./fonts.scss";
@import "./variable.module.scss";

/* reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HellixRegular";
}

body {
  font-family: "HellixRegular";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HellixMedium" !important;
}

.gradient {
  background: $gradient;
}
