body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradiant {
  background: hsla(0, 0%, 96%, 1);

  background: linear-gradient(
    45deg,
    hsla(0, 0%, 96%, 1) 0%,
    hsla(197, 100%, 93%, 1) 20%,
    hsla(0, 0%, 96%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(0, 0%, 96%, 1) 0%,
    hsla(197, 100%, 93%, 1) 20%,
    hsla(0, 0%, 96%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(0, 0%, 96%, 1) 0%,
    hsla(197, 100%, 93%, 1) 20%,
    hsla(0, 0%, 96%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F5F5F5", endColorstr="#DBF5FF", GradientType=1);
}
